body {
  margin: 0px;
  background-color: rgb(2, 2, 48);
}

#lnctlogo {
  margin-top: 0px;
  /* margin-bottom: 50px;  */
  margin-left: 10px;
  margin-right: 100px;
  display: inline-block;
  height: 30px;
  width: 60px;
}

/* #facebooklogo {
  margin-left: 420px;
  margin-bottom: 30px;
}

#youtubelogo {
  margin-top: 8px;
}

#twitterlogo {
  margin-bottom: 30px;
} */

#new {
  width: 60;
  height: 28;
}

#element {
  width: 240px;
  height: 40px;
  border: black solid;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  background-color: black;
  color: white;
}

#mar {
  background-color: black;
  height: 40px;
  width: 965px;
  border: solid black;
  margin-left: 120px;
  margin-top: 0px;
  align-content: flex-start;
  display: inline-block;
  flex-wrap: wrap;
  position: relative;
  position: fixed;
}

#mainheading {
  width: 1215px;
  height: 45px;
  border: solid black;
  flex-direction: row;
  display: flex;
  margin-top: 1px;
  justify-content: flex-start;
  position: fixed;
}

#lnctu {
  color: white;
  text-decoration: none;
  display: inline-block;
}

#two {
  width: 210px;
  height: 50px;
  position: fixed;
  border: solid rgb(2, 2, 48);
  top: 0px;
  left: 0px;
  color: white;
  background-color: red;
  text-align: center;
  font-size: 22px;
}

#marquee-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}

#marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 15s linear infinite;
}

#head {
  color: white;
  margin-top: 80px;
  text-align: end;
  margin-right: 40px;
}

#lnctcet {
  width: 60px;
  height: 30px;
  border: rgb(8, 8, 85) solid 6px;
  display: inline-block;
  /* margin-bottom:50px; */
}

#about {
  display: inline-block;
  margin-left: 0px;
  width: 1250px;
  height: 25px;
  border: rgb(2, 2, 48) solid 3px;
}

#one {
  width: 1240px;
  height: 150px;
  margin-left: 0px;
  display: inline-block;
  border: rgb(2, 2, 48) solid;
  flex-direction: row;
  justify-content: flex-start;

}

#three {
  background-color: rgb(2, 2, 48);
  color: white;
  font-weight: bold;
  border: solid rgb(2, 2, 48);

}

#Contact {
  margin-left: 450px;
  margin-top: 20px;
  background-color: rgb(2, 2, 48);
  color: white;
  font-weight: bold;
  border: solid rgb(2, 2, 48);
}

#lnct {
  width: 450px;
  height: 160px;
  margin-left: 100px;
  margin-right: 20px;
  border: rgb(2, 2, 48) solid;
  font-size: 72px;
  text-align: center;
  font-weight: 800;
  color: #4aa89a;
  letter-spacing: 1px;
  position: absolute;
}

/* #full{
  width: 800px;
  height: 170px;
  border: solid yellow;
} */
#weare {
  height: 200px;
  width: 200px;
  border: solid rgb(2, 2, 48);
  margin-left: 600px;
  position: absolute;
}

#logolnct {
  height: 400px;
  width: 400px;
  margin-left: 300px;
  margin-bottom: 300px;
    position: absolute;
}

#men {
  color: green;
  display: inline-block;
  margin-top: 180px;
  width: 400px;
  height: 150px;
  border: solid rgb(2, 2, 48);
  margin-left: 130px;
  font-size: 26px;
  text-align: center;
  color: #f2523d;
  
}
#idbox{
 width: 550px;
 height: 50px;
 border: solid white 0px;
display: flex;
margin-left: 90px;
border-radius: 60px;
align-items: center;
justify-content: center;
flex-wrap: wrap;
align-content: center;
background-color: white;

}
#inthe1{
  width: 250px;
  height: 40px;
    border: solid  #4aa89a;
    align-items: end;
    align-content: center;
    background-color:  #4aa89a;
}
#inthe2{
    width: 250px;
    height: 40px;
    border: solid #f2523d;
    align-content: center;
    background-color: #f2523d;
}
#admissions{
 border: solid  #4aa89a;
 width: 220px;
 font-size: 20px;
 text-align: center;
 margin-left: 35px;
 background-color:  #4aa89a;
 color:white;
}
#lnct2025{
border: solid #f2523d;
width: 220px;
font-size: 20px;
text-align: center;
margin-left: 45px;
background-color: #f2523d;
color: white;
}